* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body, html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*去掉触摸遮盖层*/
  width: 100%;
  max-width: 750px;
  font-family: 'PingFang SC', "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, 宋体b8b体, SimSun, sans-serif;
  margin: 0 auto;
  background: #f6f6f6;
}

input, textarea, select, button, div {
  -webkit-appearance: none;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.w-fr {
  float: right !important;
}

.w-fw {
  width: 100%;
  display: block;
}

.nmar {
  margin-right: 0 !important;
}

.link {
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
  background: #fff;
  overflow: hidden;
}

.link li {
  float: left;
  text-align: center;
  font-size: .28rem;
  line-height: .3rem;
  width: 25%;
}

.link li img {
  width: 50%;
  margin: 0 auto .1rem;
}

.link li a {
  color: #333;
}

.index_con {
  overflow: hidden;
  background: #fff;
  margin-top: .3rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: .2rem;
  line-height: .9rem;
}

.index_con .title {
  font-size: .32rem;
  color: #333;
  padding: 0 .3rem 0 .8rem;
  background: url("../images/img1_6.png") no-repeat .3rem center;
  border-bottom: 1px solid #ccc;
  background-size: .37rem;
}

.index_con .title span {
  float: right;
}

.index_con .con {
  margin: 0 .3rem;
  box-sizing: border-box;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding: .1rem 0 .2rem;
}

.index_con .con:last-child {
  border-bottom: none;
}

.index_con .div {
  font-size: .32rem;
  line-height: .8rem;
}

.index_con p {
  color: #666;
  font-size: .28rem;
  line-height: .4rem;
}

/*项目中心*/

.project_con .list {
  padding: 0 .3rem;
  box-sizing: border-box;
  padding-bottom: .3rem;
}

.project_con .list li {
  background: #fff;
  border-radius: .08rem;
  margin-top: .3rem;
  border: 1px solid #c8c8c7;
  box-sizing: border-box;
}

.project_con .list li .title {
  padding: 0 .3rem;
  font-size: .32rem;
  line-height: .9rem;
  overflow: hidden;
}

.project_con .list li .title span {
  float: right;
}

.project_con .list .con {
  font-size: .28rem;
  padding: .15rem .3rem;
  color: #666;
  line-height: .4rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  white-space:pre;
}

.project_con .list .con1 {
  box-sizing: border-box;
  padding: 0 .3rem;
  overflow: hidden;
  line-height: .9rem;
  font-size: .28rem;
  color: #333;
}

.project_con .list .con1 a {
  float: right;
  color: #666;
}

.project_con .list .con1 span {
  float: left;
}

.project_con .list .con1 .people {
  background: url("../images/img1_7.png") no-repeat left center;
  background-size: .4rem;
  padding-left: .6rem;
}

.project_con .list .con1 .money {
  background: url("../images/img1_8.png") no-repeat left center;
  background-size: .42rem;
  padding-left: .6rem;
  margin-left: .6rem;
}

/*项目中心*/

/*个人中心*/
.wrap {
  padding-bottom: 1.2rem
}

.me_1 {
  background: #04aaf4;
  padding: .6rem .3rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.me_1 .set {
  width: .52rem;
  height: .48rem;
  position: absolute;
  top: .3rem;
  right: .3rem;
  background: url("../images/set.png") no-repeat center;
  background-size: 100%;
}

.me_1 .img1 {
  float: left;
  width: 2rem;
  height: 2rem;
}

.me_1 .con {
  float: left;
  margin-left: .3rem;
  color: #fff;
  font-size: .36rem;
  line-height: .8rem;
  padding: .2rem 0;
  box-sizing: border-box;
}

.me_1 .img {
  width: 1.86rem;
  height: auto;
  display: none;
}

.me_1 .img.active {
  display: block;
}

.me_2 {
  background: #0399e2;
  height: 1rem;
  line-height: 1rem;
  color: #fff;
  font-size: .32rem;
  padding: 0 .3rem;
  box-sizing: border-box;
}

.me_2 a {
  color: #fff;
  float: right;
  padding-right: .5rem;
  background: url("../images/me_7.png") no-repeat right center;
  background-size: .26rem;
}

.me_3 {
  overflow: hidden;
  padding: 5%;
  box-sizing: border-box;
  font-size: .32rem;
  text-align: center;
  margin-top: .3rem;
  line-height: .5rem;
  background: #fff;
}

.me_3 li {
  width: 50%;
  float: left;
  padding: .3rem;
  box-sizing: border-box;
}

.me_3 li img {
  width: 50%;
  margin: 0 auto .1rem
}

.me_3 li a {
  color: #333;
}

/*个人中心*/
.foot {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  left: 0;
  padding-top: .2rem;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}

.foot a {
  float: left;
  height: .95rem;
  font-size: .22rem;
  text-align: center;
  line-height: .37rem;
  padding-top: .6rem;
  display: block;
  background-size: .5rem;
  box-sizing: border-box;
  background-position: top center;
  width: 33.33%;
  background-repeat: no-repeat;
  color: #a6a6a6;
}

.foot a.active {
  color: #03a9f4
}

.foot .a1 {
  background-image: url("../images/first.png");
}

.foot .a1.active {
  background-image: url("../images/first_select.png");
}

.foot .a2 {
  background-image: url("../images/project.png");
}

.foot .a2.active {
  background-image: url("../images/project_select.png");
}

.foot .a3 {
  background-image: url("../images/me.png");
}

.foot .a3.active {
  background-image: url("../images/me_select.png");
}

/*注册*/
.reg_con {
  padding: .3rem;
  box-sizing: border-box;
}

.reg_con .reg_1 {
  background: #fff;
  border-radius: .2rem;
  margin-bottom: .3rem;
  padding: .17rem .2rem;
  box-sizing: border-box;
}

.reg_con .reg_1 div {
  overflow: hidden;
  padding: .14rem 0;
}

.reg_con .reg_1 span {
  width: 25%;
  float: left;
  text-align: justify;
  display: block;
  font-size: .32rem;
  color: #171f24;
  line-height: .68rem;
}

.reg_con .reg_1 select, .reg_con .reg_1 input {
  width: 75%;
  float: left;
  display: block;
  line-height: .68rem;
  height: .68rem;
  border: 1px solid #c2c4c5;
  border-radius: .1rem;
  background: #fff url("../images/reg_1.png") no-repeat right center;
  background-size: .53rem;
  color: #171f24;
  font-size: .28rem;
  padding: 0 .2rem;
  box-sizing: border-box;
}

.reg_con .reg_1 input {
  background: #fff;
}

.reg_con .reg_1 .select {
  width: 35%;
  margin-right: 5%;
}

.reg_con .btn {
  overflow: hidden;
  position: fixed;
  bottom: .4rem;
  width: 100%;
  left: 0;
  padding: 0 .3rem;
  box-sizing: border-box;
}

.reg_con .btn a, .reg_con .btn button {
  width: 45%;
  float: left;
  height: 1rem;
  display: block;
  background: #03a9f4;
  color: #fff;
  text-align: center;
  font-size: .36rem;
  line-height: 1rem;
  border-radius: .5rem;
}

/*注册*/

/*项目详情*/
.pro_detail {
  padding: .3rem;
  box-sizing: border-box;
}

.pro_detail .con1, .pro_detail .con2 {
  background: #fff;
  border-radius: .2rem;
  padding-bottom: .2rem;
}

.pro_detail .con1 .con, .pro_detail .con2 .con {
  padding: 0 .3rem;
  box-sizing: border-box;
}

.pro_detail .con1 h3, .pro_detail .con2 h3 {
  margin-bottom: .2rem;
  overflow: hidden;
}

.pro_detail .con1 h3 span, .pro_detail .con2 h3 span {
  display: block;
  width: 1.8rem;
  float: left;
  text-align: center;
  background: url("../images/list.png") no-repeat left top;
  background-size: 1.8rem;
  height: .58rem;
  font-weight: normal;
  line-height: .58rem;
  font-size: .28rem;
  color: #fff;
}

.pro_detail .con1 .same {
  overflow: hidden;
  line-height: .7rem;
  box-sizing: border-box;
}

.pro_detail .con1 .same span {
  padding-left: .45rem;
  background: url("../images/ic_order.png") no-repeat left center;
  background-size: .3rem;
  font-size: .28rem;
  color: #74797c;
  float: left;
  display: block;
}

.pro_detail .con1 .introduce span {
  float: inherit;
}

.pro_detail .con1 .same i {
  float: right;
  font-size: .28rem;
  font-style: normal;
  color: #171f24;
}

.pro_detail .con1 .introduce p {
  font-size: .28rem;
  color: #171f24;
  text-align: justify;
  line-height: .36rem;
  margin: .1rem 0 .2rem;
  white-space: pre;
}

.pro_detail .con1 .introduce span {
  background-image: url("../images/ic_project.png");
}

.pro_detail .con1 .time span {
  background-image: url("../images/ic_time.png");
}

.pro_detail .con1 .people span {
  background-image: url("../images/ic_man.png");
}

.pro_detail .con1 .linkman span {
  background-image: url("../images/ic_person.png");
}

.pro_detail .con1 .pos {
  padding-left: .45rem;
  background: url("../images/ic_position.png") no-repeat left center;
  background-size: .3rem;
  font-size: .28rem;
  color: #171f24;
}

.pro_detail .con1 .pos .icon {
  display: block;
  float: right;
  background: url("../images/ic_position_go.png") no-repeat right center;
  background-size: .12rem;
  width: .12rem;
  height: .68rem
}

.pro_detail .con1 .linkman a {
  color: #04a9f3;
}

.pro_detail .con2 {
  margin-top: .3rem;
}

.pro_detail .con2 .textarea {
  width: 100%;
  font-size: .28rem;
  color: #171f24;
}

.pro_detail .con3 {
  position: fixed;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 .3rem;
  width: 100%;
  left: 0;
  height: 1.08rem;
}

.pro_detail .con3 span {
  background: url(../images/img1_8.png) no-repeat left center;
  background-size: .42rem;
  padding-left: .6rem;
  float: left;
  display: block;
  height: 1.08rem;
  line-height: 1.08rem;
  color: #171f24;
  font-size: .3rem;
}

.pro_detail .con3 #file {
  float: right;
}

.pro_detail .con3 #file a, .pro_detail .con3 #file div, .pro_detail .con3 #file span {
  display: inline-block;
  float: right;
  background: #04a9f3;
  color: #fff;
  height: .68rem;
  border-radius: .34rem;
  margin-top: .2rem;
  padding: 0 .5rem;
  width: auto;
  text-align: center;
  line-height: .68rem;
  font-size: .36rem;
}

.pro_detail .con3 #file .span1 {
  margin-right: .3rem;
  box-sizing: border-box;
  border: 1px solid #74797c;
  background: #fff;
  color: #171f24;
}

.pro_detail .con3 #file div {
  padding: 0 .4rem;
}

/*项目详情*/

/*推广中心*/
.extension_con {
  padding: .3rem;
  box-sizing: border-box;
}

.extension_con .con1 {
  padding: .5rem .6rem;
  margin-top: .5rem;
  box-sizing: border-box;
  background: #fff;
}

.extension_con .me_1 {
  background: #fff;
  padding: 0;
}

.extension_con .me_1 .img1 {
  width: .98rem;
  height: .98rem;
}

.extension_con .me_1 .name {
  font-size: .36rem;
}

.extension_con .me_1 .con {
  color: #171f24;
  padding: 0;
  line-height: .5rem;
}

.extension_con .me_1 .con .img {
  width: 1.48rem;
  margin-top: .1rem;
}

.extension_con .ewm {
  width: 43.4%;
  margin: .6rem auto .4rem;
  display: block;
}

.extension_con .p {
  font-size: .32rem;
  line-height: .45rem;
  color: #171f24;
  text-align: center;
}

.extension_con #share {
  width: 100%;
  margin-top: .8rem;
  display: block;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: .36rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: .5rem;
}

/*推广中心*/

/*派单——城市经理*/
.dist_city {
  padding: .3rem;
  box-sizing: border-box;
}

.dist_city .con1, .dist_city .con2, .dist_city .con3, .dist_city .con4 {
  background: #fff;
  border-radius: .2rem;
  padding-bottom: .2rem;
}

.dist_city .con1 .con, .dist_city .con2 .con, .dist_city .con3 .con, .dist_city .con4 .con {
  padding: 0 .3rem;
  box-sizing: border-box;
}

.dist_city .con1 h3, .dist_city .con2 h3, .dist_city .con3 h3 {
  margin-bottom: .2rem;
  overflow: hidden;
}

.dist_city .con1 h3 span, .dist_city .con2 h3 span, .dist_city .con3 h3 span {
  display: block;
  width: 1.8rem;
  float: left;
  text-align: center;
  background: url("../images/list.png") no-repeat left top;
  background-size: 1.8rem;
  height: .58rem;
  font-weight: normal;
  line-height: .58rem;
  font-size: .28rem;
  color: #fff;
}

.dist_city .con1 .same, .dist_city .con4 .same, .dist_city .con5 .same {
  overflow: hidden;
  line-height: .7rem;
  box-sizing: border-box;
}

.dist_city .con1 .num .copy, .pro_detail .con1 .num .copy {
  float: right;
  margin-top: .13rem;
  background: transparent;
  border: 1px solid #c2c4c5;
  color: #c2c4c5;
  padding: 0 .1rem;
  font-size: .26rem;
  margin-left: .2rem;
  height: .4rem;
  line-height: .4rem;
  border-radius: .08rem;
}

.dist_city .con1 .same span, .dist_city .con4 .same span, .dist_city .con5 .same span {
  padding-left: .45rem;
  background: url("../images/ic_order.png") no-repeat left center;
  background-size: .3rem;
  font-size: .28rem;
  color: #74797c;
  float: left;
  display: block;
}

.dist_city .con1 .num i, .pro_detail .con1 .num i {
  float: left;
  font-size: .28rem;
  font-style: normal;
  color: #171f24;
}

.dist_city .con2 {
  margin-top: .3rem;
}

.dist_city .con2 h3 i {
  float: right;
  background: url("../images/ic_edit.png") no-repeat right center;
  background-size: .24rem;
  padding-right: .4rem;
  font-size: .28rem;
  font-weight: normal;
  color: #04a9f3;
  height: .58rem;
  line-height: .58rem;
  font-style: normal;
  margin-right: .3rem;
}

.dist_city .con2 textarea {
  width: 100%;
  height: 1rem;
  font-size: .28rem;
  resize: none;
  font-family: "Microsoft YaHei";
}

.dist_city #submit {
  width: 100%;
  font-size: .36rem;
  background: #03a9f4;
  color: #fff;
  margin: 1rem auto 0;
  text-align: center;
  border-radius: .5rem;
  height: 1rem;
  display: block;
  line-height: 1rem;
}

.dist_city .select {
  float: right;
  display: block;
  width: 3.7rem;
  line-height: .7rem;
  border: 1px solid #04a9f3;
  border-radius: .1rem;
  background: url("../images/select.png") no-repeat right center;
  background-size: .39rem;
  padding: 0 .2rem;
  box-sizing: border-box;
  font-size: .28rem;
}

.dist_city .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, .4);
  left: 0;
  display: none;
  top: 0;
}

.dist_city .pop {
  position: fixed;
  z-index: 2;
  display: none;
  background: #fff;
  width: 6.9rem;
  height: 3.46rem;
  top: 50%;
  margin-top: -1.73rem;
  margin-left: -3.45rem;
  left: 50%;
  border-radius: .2rem;
}

.dist_city .pop h3 {
  font-size: .4rem;
  colro: #171f24;
  line-height: .9rem;
  margin-top: .37rem;
  text-align: center;
  font-weight: normal;
}

.dist_city .pop p {
  text-align: center;
  line-height: .9rem;
  font-size: .32rem;
  color: #171f24;
}

.dist_city .pop .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.dist_city .pop .btn1 {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: .98rem;
  line-height: .98rem;
  color: #fff;
  text-align: center;
  font-size: .36rem;
  background: #03a9f4;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.dist_city .pop .btn1 a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block
}

.dist_city .pop .btn span {
  width: 50%;
  float: left;
  box-sizing: border-box;
  font-size: .36rem;
  text-align: center;
  color: #74797c;
  line-height: .98rem;
  height: .98rem;
  display: block;
  border-top: 1px solid #ccc;
}

.dist_city .pop .btn .sure {
  border-left: 1px solid #ccc;
  color: #03a9f4;
}

/*派单——城市经理*/

/*派单——项目经理*/
.dist_city .con1 .people span {
  background-image: url("../images/ic_man.png");
}

.dist_city .con1 .people i {
  float: right;
  font-size: .28rem;
  font-style: normal;
  color: #171f24;
}

.dist_city .con3 {
  margin-top: .3rem;
  padding-bottom: .3rem;
}

.dist_city .con3 .list {
  margin-top: .2rem;
}

.dist_city .con3 .list h4 {
  font-size: .32rem;
  color: #171f24;
  line-height: .5rem;
  font-weight: normal;
  overflow: hidden;
}

.dist_city .con3 .list h4 a {
  float: right;
  color: #12b29e;
  font-size: .28rem;
}

.dist_city .con3 .move {
  flex-wrap: wrap;
  display: flex;
  margin-top: .15rem;
}

.dist_city .con3 .move span {
  display: flex-item;
  float: left;
  background: #12b29e;
  height: .5rem;
  line-height: .5rem;
  font-size: .28rem;
  color: #fff;
  margin: .05rem .1rem .05rem 0;
  padding: 0 .11rem;
  border-radius: .1rem;
}

.dist_city .con3 .move i {
  float: right;
  width: .24rem;
  height: .24rem;
  background: url("../images/delete.png") no-repeat center;
  background-size: 100%;
  margin-left: .15rem;
  margin-top: .13rem;
}

/*派单——项目经理*/

/*派单——项目经理_添加工人*/
.addWorker .input {
  overflow: hidden;
  line-height: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #c2c4c5;
  background: #fff url("../images/ic_search.png") no-repeat .3rem center;
  background-size: .38rem;
  padding: 0 .3rem 0 1rem;
}

.addWorker .input input {
  width: 100%;
  display: block;
  height: .8rem;
  line-height: .8rem;
  margin-top: .1rem;
  color: #333;
}

.addWorker .input input::-webkit-input-placeholder {
  color: #c2c4c5;
}

.addWorker .input input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c2c4c5;
}

.addWorker .input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c2c4c5;
}

.addWorker .input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c2c4c5;
}

.addWorker .title {
  font-size: .28rem;
  color: #74797c;
  line-height: .8rem;
  padding: 0 .3rem;
  box-sizing: border-box;
}

.addWorker .people_list {
  background: #fff;
}

.addWorker .people_list li {
  overflow: hidden;
}

.addWorker .people_list li span {
  background: url("../images/select1.png") no-repeat center;
  background-size: .4rem;
  width: .4rem;
  height: 1rem;
  float: left;
  display: block;
  margin: 0 .2rem 0 .3rem;
}

.addWorker .people_list li.selected span {
  background-image: url("../images/selected1.png");
}

.addWorker .people_list li img {
  float: left;
  width: .68rem;
  margin-top: .17rem;
}

.addWorker .people_list li p {
  border-bottom: 1px solid #c2c4c5;
  float: left;
  font-size: .32rem;
  margin-left: .3rem;
  width: 5.2rem;
  color: #171f24;
  line-height: 1rem;
  height: 1rem;
  box-sizing: border-box;
}

.addWorker .people_list li:last-child p {
  border: none;
}

.addWorker .sure_add {
  width: 92%;
  font-size: .36rem;
  background: #03a9f4;
  color: #fff;
  margin: 1rem auto 0;
  text-align: center;
  border-radius: .5rem;
  height: 1rem;
  display: block;
  line-height: 1rem;
}

/*派单——项目经理_添加工人*/
/*提交审核资料*/
.dist_city .con4 .upload {
  padding-bottom: .2rem;
}

.dist_city .con4 .upload span {
  background-image: url("../images/upload_1.png");
}

.dist_city .con4 .upload1 span {
  background-image: url("../images/upload_2.png");
}

.dist_city .con4, .dist_city .con5 {
  margin-top: .2rem;
  padding: .2rem 0 .4rem;
  box-sizing: border-box;
}

#uploader-demo {
  padding: 0 .3rem;
  box-sizing: border-box;
}

.dist_city .con4 textarea {
  width: 100%;
  height: 1.68rem;
  background: #f5f5f5;
  border: 1px solid #ccc;
  font-family: "Microsoft YaHei";
  resize: none;
  margin-top: .1rem;
  display: block;
  box-sizing: border-box;
  padding: .15rem;
  text-align: justify;
  font-size: .28rem;
  line-height: .4rem;
  border-radius: .1rem;
  color: #333;
}

.dist_city .con4 textarea::-webkit-input-placeholder {
  color: #999
}

.dist_city .con4 textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999
}

.dist_city .con4 textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999
}

.dist_city .con4 textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999
}

/*提交审核资料*/
/*我的积分*/
.jifen_con .con1 {
  background: #04abf3;
  color: #fff;
  overflow: hidden;
}

.jifen_con .con1 li {
  float: left;
  width: 50%;
  font-size: .28rem;
  text-align: center;
  padding: .45rem 0 .34rem;
  line-height: .34rem;
}

.jifen_con .con1 li span {
  display: block;
  line-height: .65rem;
  font-size: .46rem;
}

.jifen_con .con2 {
  background: #ffffff;
  margin-top: .2rem;
}

.jifen_con .con2 .title {
  position: relative;
  font-size: .32rem;
  color: #171f24;
  height: .97rem;
  line-height: .97rem;
  padding: 0 .3rem;
  box-sizing: border-box;
  border-bottom: 1px solid #c2c4c5;
}

.jifen_con .con2 .title .span1 {
  width: .06rem;
  height: .2rem;
  border-radius: .3rem;
  background: #03a9f4;
  display: block;
  float: left;
  margin-top: .38rem;
  margin-right: .1rem;
}

.jifen_con .con2 .title .span2 {
  float: right;
  font-size: .28rem;
  color: #04a9f3;
  padding-right: .34rem;
  display: block;
  background: url("../images/ic_combo_selected.png") no-repeat right center;
  background-size: .2rem;
}

.jifen_con .con2 .title .span2.active {
  background: url("../images/ic_combo_normal.png") no-repeat right center;
  background-size: .2rem;
}

.jifen_con .con2 .title ul {
  position: absolute;
  display: none;
  background: url("../images/ic_popup.png") no-repeat top center;
  background-size: 100%;
  width: 2.22rem;
  padding: .5rem .48rem 0;
  height: 2.07rem;
  top: .5rem;
  right: 0;
  box-sizing: border-box;
  z-index: 2;
}

.jifen_con .con2 .title ul li {
  text-align: center;
  font-size: .28rem;
  line-height: .66rem;
  border-bottom: 1px solid #c2c4c5;
  right: 0;
  bottom: .1rem;
}

.jifen_con .con2 .title ul .li {
  border: none;
}

.jifen_con .con2 .list {
  padding: 0 .3rem;
  box-sizing: border-box;
  font-size: .28rem;
  color: #595959;
  line-height: .5rem;
}

.jifen_con .con2 .list .div {
  position: relative;
  padding: .25rem 0 .3rem;
  border-bottom: 1px solid #c2c4c5;
}

.jifen_con .con2 .list .div em {
  position: absolute;
  right: .3rem;
  bottom: .2rem;
  font-style: normal;
  font-size: .42rem;
  color: #171f24;
}

.jifen_con .con2 .list .div:last-child {
  border: none;
}

.jifen_con .out {
  background: #03a9f4;
  color: #fff;
  text-align: center;
  width: 6.9rem;
  margin: 1rem auto 0;
  height: .98rem;
  font-size: .36rem;
  line-height: .98rem;
  border-radius: 49rem;
}

/*我的积分*/

/*审核项目*/
.examine_con .title {
  background: #fff;
  height: .97rem;
  line-height: .97rem;
  padding: 0 .3rem;
  font-size: .32rem;
  color: #171f24;
  border-bottom: 1px solid #c2c4c5;
}

.examine_con .title span {
  float: right;
  font-size: .26rem;
  color: #999;
  background: url("../images/ic_open.png") no-repeat right center;
  background-size: .26rem;
  padding-right: .35rem;
}

.examine_con .examine1.active .title span, .examine_con .examine2.active .title span {
  background: url("../images/ic_close.png") no-repeat right center;
  background-size: .26rem;
  color: #03a9f4;
}

.examine_con .examine1.active .dist_city, .examine_con .examine2.active .pro_detail {
  display: block;

}

.examine1 .dist_city, .examine2 .pro_detail {
  display: none;
}

#examine {
  position: fixed;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 .3rem;
  width: 100%;
  left: 0;
  height: 1.08rem;
}

#examine span {
  background: url(../images/img1_8.png) no-repeat left center;
  background-size: .42rem;
  padding-left: .6rem;
  float: left;
  display: block;
  height: 1.08rem;
  line-height: 1.08rem;
  color: #171f24;
  font-size: .3rem;
}

#examine .file {
  float: right;
}

#examine .file span {
  display: inline-block;
  float: right;
  background: #04a9f3;
  color: #fff;
  height: .68rem;
  border-radius: .34rem;
  margin-top: .2rem;
  padding: 0 .5rem;
  width: auto;
  text-align: center;
  line-height: .68rem;
  font-size: .36rem;
}

#examine .file .span1 {
  margin-right: .3rem;
  box-sizing: border-box;
  border: 1px solid #74797c;
  background: #fff;
  color: #171f24;
}

#examine .file div {
  padding: 0 .4rem;
}

/*审核项目*/
/*项目管理*/
.manage_con .type {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}

.manage_con .type li {
  text-align: center;
  float: left;
  width: 25%;
  font-size: .32rem;
  color: #171f24;
  line-height: .8rem;
  height: .8rem;
  position: relative;
}

.manage_con .type li.active {
  color: #03a9f4;
}

.manage_con .type li span {
  display: none;
}

.manage_con .type li.active span {
  display: block;
  z-index: 1;
  background: #03a9f4;
  width: .48rem;
  height: .06rem;
  border-radius: .03rem;
  left: 50%;
  margin-left: -.24rem;
  bottom: 0;
  position: absolute;
}

.manage_con .list li {
  margin-bottom: .25rem;
}

.manage_con .list .title {
  font-size: .32rem;
  color: #171f24;
  line-height: .85rem;
  box-sizing: border-box;
  height: .85rem;
  padding: 0 .3rem;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

.manage_con .list .title .status {
  float: right;
  color: #666;
  font-size: .28rem;
}

.manage_con .list .title .status1 {
  color: #d81e06;
}

.manage_con .list .img {
  overflow: hidden;
  padding: 0 .3rem;
  box-sizing: border-box;
}

.manage_con .list .img img {
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: .08rem;
  margin-right: .3rem;
  margin-top: .3rem;
}

.manage_con .list .img img:nth-child(4n) {
  margin-right: 0;
}

.manage_con .list p {
  font-size: .28rem;
  color: #595959;
  padding: 0 .3rem;
  box-sizing: border-box;
  line-height: .5rem;
  margin: .15rem 0;
}

.manage_con .btn {
  box-sizing: border-box;
  padding: 0 .3rem;
  overflow: hidden;
  line-height: .9rem;
  font-size: .28rem;
  color: #333;
  background: #fff;
  border-top: 1px solid #e0e0e0;
}

.manage_con .btn span {
  float: left;
}

.manage_con .btn .people {
  background: url(../images/img1_7.png) no-repeat left center;
  background-size: .4rem;
  padding-left: .6rem;
}

.manage_con .btn .money {
  background: url(../images/img1_8.png) no-repeat left center;
  background-size: .42rem;
  padding-left: .6rem;
  margin-left: .6rem;
}

.manage_con .btn .examine {
  font-size: .28rem;
  color: #595959;
  float: right;
  line-height: .9rem;
}

.manage_con .btn .examine a {
  color: #595959;
}

.manage_con .btn .examine span {
  width: 1.38rem;
  color: #fff;
  height: .58rem;
  line-height: .58rem;
  border-radius: .29rem;
  display: block;
  background: #03a9f4;
  text-align: center;
  margin-top: .15rem;
}

/*项目管理*/
/*员工管理*/
.people_type {
  width: 100%;
  background: #03a9f4;
  padding: 0 2%;
  overflow: hidden;
}

.people_type li {
  text-align: center;
  font-size: .32rem;
  color: #171f24;
  line-height: .8rem;
  height: .8rem;
  position: relative;
  float: left;
  width: 32%;
  color: #fff;
}

.people_type li span {
  display: none;
  z-index: 1;
  background: #fff;
  width: .48rem;
  height: .06rem;
  border-radius: .03rem;
  left: 50%;
  margin-left: -.24rem;
  bottom: .06rem;
  position: absolute
}

.people_type li.active span {
  display: block;
}

.people_input {
  padding: .15rem .3rem;
  box-sizing: border-box;
  background: #fff;

}

.people_input .input {
  width: 6.9rem;
  background: #ededed url(../images/ic_search.png) no-repeat .25rem center;
  background-size: .38rem;
  padding-left: .8rem;
  box-sizing: border-box;
  height: .68rem;
  line-height: .68rem;
  border-radius: .2rem;
}

.people_input .input input {
  display: block;
  height: .68rem;
  line-height: .68rem;
  font-size: .32rem;
  width: 100%;
  background: transparent;
  color: #333;
}

.people_input .input input input::-webkit-input-placeholder {
  color: #999;
}

.people_input .input input input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}

.people_input .input input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}

.people_input .input input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

.people_list {
  padding: .3rem;
  box-sizing: border-box;
}

.people_list li {
  background: #fff;
  position: relative;
  border-radius: .2rem;
  padding: .2rem .2rem 0;
  box-sizing: border-box;
  margin-bottom: .3rem;
}

.people_list .div {
  overflow: hidden;
}

.people_list .div img {
  float: left;
  width: 1.08rem;
  height: 1.08rem;
  display: block;
}

.people_list .div p {
  float: left;
  font-size: .36rem;
  color: #050829;
  margin-left: .3rem;
  line-height: .6rem;
  padding-top: .05rem;
}

.people_list .div p span {
  display: block;
  font-size: .26rem;
  color: #666666;
  line-height: .4rem;
}

.people_list .div p span em {
  color: #03a9f4;
  font-style: normal;
}

.people_list .div1 {
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  margin-top: .2rem;
}

.people_list .div1 span {
  float: left;
  width: 50%;
  font-size: .26rem;
  color: #666666;
  line-height: .7rem;
  height: .7rem;
  box-sizing: border-box;
  padding-left: .3rem;
}

.people_list .div1 .span {
  background: url("../images/people1.png") no-repeat left center;
  background-size: .16rem;
}

.people_list .div1 .span1 {
  background: url("../images/people2.png") no-repeat left center;
  background-size: .16rem;
}

.people_list .tel {
  position: absolute;
  top: .4rem;
  right: .4rem;
  width: .96rem;
}

.people_list .tel img {
  display: block;
  width: 100%;
}

/*员工管理*/

/*统计中心*/
.statistic_con .title {
  height: .87rem;
  line-height: .87rem;
  padding: 0 .3rem;
  box-sizing: border-box;
  font-size: .28rem;
}

.statistic_con .con {
  padding: 0 .3rem;
  box-sizing: border-box;
  background: #fff;
  border-radius: .1rem;
}

.statistic_con .con p {
  font-size: .32rem;
  border-bottom: 1px solid #c2c4c5;
  line-height: 1.08rem;
  height: 1.08rem;
  overflow: hidden;
  color: #171f24;
}

.statistic_con .con p:last-child {
  border-bottom: none;
}

.statistic_con .con p span{
  float:right;color:#74797c;
}
.statistic_con .con p em {
  float: left;
  width: .06rem;
  height: .2rem;
  border-radius: .3rem;
  background: #c2c4c5;
  margin-right: .2rem;
  display: block;
  margin-top: .44rem;
}.statistic_con .con p.blue em {
  background: #03a9f4;
}
.statistic_con .con p.blue span{
  color:#03a9f4;
}

/*统计中心*/
.people_con {margin-bottom: 1.4em;}
#submit-btn {
  background: #03a9f4;
  color: #fff;
  text-align: center;
  width: 6.9rem;
  margin: 1rem auto 0;
  height: .98rem;
  font-size: .36rem;
  line-height: .98rem;
  border-radius: 49rem;
}
#main {
    box-sizing: border-box;
}
/*隐藏域*/
#tip-mask {
    display:block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
    left: 0;
    /*display: none;*/
    top: 0;
}

#tip-pop {
    position: fixed;
    z-index: 2;
    /*display: none;*/
    background: #fff;
    width: 6.9rem;
    height: 3.46rem;
    top: 50%;
    margin-top: -1.73rem;
    margin-left: -3.45rem;
    left: 50%;
    border-radius: .2rem;
}

#tip-pop h3 {
    font-size: .4rem;
    colro: #171f24;
    line-height: .9rem;
    margin-top: .37rem;
    text-align: center;
    font-weight: normal;
}

#tip-pop p {
    text-align: center;
    line-height: .9rem;
    font-size: .32rem;
    color: #171f24;
}

#tip-pop .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

#tip-pop .btn1 {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: .98rem;
    line-height: .98rem;
    color: #fff;
    text-align: center;
    font-size: .36rem;
    background: #03a9f4;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

#tip-pop .btn1 a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block
}

#tip-pop .btn span {
    width: 50%;
    float: left;
    box-sizing: border-box;
    font-size: .36rem;
    text-align: center;
    color: #74797c;
    line-height: .98rem;
    height: .98rem;
    display: block;
    border-top: 1px solid #ccc;
}

#tip-pop .btn .sure {
    border-left: 1px solid #ccc;
    color: #03a9f4;
}
.btn-success {
  background: #74797c;
  color: #fff;
  text-align: center;
  width: 6.9rem;
  margin: 1rem auto 0;
  height: .98rem;
  font-size: .36rem;
  line-height: .98rem;
  border-radius: 49rem;
}
.btn-wait {
  background: #ccc;
  color: #fff;
  text-align: center;
  width: 6.9rem;
  margin: 1rem auto 0;
  height: .98rem;
  font-size: .36rem;
  line-height: .98rem;
  border-radius: 49rem;
}
/*隐藏域end*/

/*ajax按钮*/
#ajax-more {
  font-size: 18px;
  padding: 6px;
  width: inherit;
  background: #fff;
  display: block;
  text-align: center;
}
/*ajax按钮*/
