{extend name="base"/}
{block name="title"}推广中心{/block}

{block name="content"}
<div class="wrap">
  <div class="extension_con">
    <div class="con1">
      <div class="me_1">
        <img src="{$model['header']}" class="w-fw img1" alt="">
        <div class="con">
          <span class="name">{:$model['user_name']?$model['user_name']:$model['nickname']}</span>
          <img src="{:$model->getUserPosition($model['tid'])}" class="active img" alt="">
        </div>
      </div>
      <img src="{:\\qrcode\\GenerateQr::getCode($req_code,$model->header,'我的分享码')}" class="ewm" alt="">
      <p class="p">团队编号: {:$team_model->encodeReqCode($model['team_no'])}</p>
      {if($model['type']!='city')}
      <p class="p">项 目 组 : {:$model['type']=='pro'?$model['id']:$model['team_slice_no']}</p>
      {/if}
    </div>
    <a href="javascript:;" id="share" data-style="updateAppMessageShareData">分享</a>
  </div>
  {include file="common/footer" footer_index="mine"/}
</div>
{/block}
{block name="script"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="/static/js/wechat.js"></script>
<script>
    //分享信息
    wechatBox.shareInfo = function ( ) {
        return {
            "title": '邀请用户',
            "link" : "{:url('Index/index',['req_id'=>$model->encodeReqCode($model['id'])],false,true)}",
            'imgUrl': "{:request()->root(true)}/static/images/img.png",
        }
    }
    //分享回调
    wechatBox.shareCallback = function (res) {
        alert(res)
    }
</script>
{/block}
