{extend name="base"/}
{block name="title"}口碑王{/block}

{block name="content"}
<div class="people_con">
  <ul class="people_type">
    <li class="active"><span></span>搬运</li>
    <li><span></span>运输</li>
    <li><span></span>安装</li>
  </ul>
  <div class="people_input">
    <div class="input"><input type="text" placeholder="输入你要找的人员姓名"></div>
  </div>
  <ul class="people_list">
    <li>
      <div class="div">
        <img src="/static/images/people.png" alt="">
        <p class="p">爱尔兰 <span>项目经理 | 员工<em>33</em>名</span></p>
      </div>
      <div class="div1"><span class="span">总项目：3600单</span><span class="span1">进行中：123单</span></div>
      <a href="tel:0755-123456" class="tel"><img src="/static/images/people3.png" alt=""></a>
    </li>
    <li>
      <div class="div">
        <img src="/static/images/people.png" alt="">
        <p class="p">爱新觉罗 <span>搬运工人</span></p>
      </div>
      <div class="div1"><span class="span">总项目：3600单</span><span class="span1">进行中：123单</span></div>
      <a href="tel:0755-123456" class="tel"><img src="/static/images/people3.png" alt=""></a>
    </li>
    <li>
      <div class="div">
        <img src="/static/images/people.png" alt="">
        <p class="p">爱新觉罗 <span>搬运工人</span></p>
      </div>
      <div class="div1"><span class="span">总项目：3600单</span><span class="span1">进行中：123单</span></div>
      <a href="tel:0755-123456" class="tel"><img src="/static/images/people3.png" alt=""></a>
    </li>
    <li>
      <div class="div">
        <img src="/static/images/people.png" alt="">
        <p class="p">爱新觉罗 <span>搬运工人</span></p>
      </div>
      <div class="div1"><span class="span">总项目：3600单</span><span class="span1">进行中：123单</span></div>
      <a href="tel:0755-123456" class="tel"><img src="/static/images/people3.png" alt=""></a>
    </li>
    <li>
      <div class="div">
        <img src="/static/images/people.png" alt="">
        <p class="p">爱新觉罗 <span>搬运工人</span></p>
      </div>
      <div class="div1"><span class="span">总项目：3600单</span><span class="span1">进行中：123单</span></div>
      <a href="tel:0755-123456" class="tel"><img src="/static/images/people3.png" alt=""></a>
    </li>
  </ul>
  {include file="common/footer" footer_index="mine"/}
</div>
{/block}

{block name="script"}

{/block}