{extend name="base"/}
{block name="title"}项目详情{/block}

{block name="content"}
<div class="wrap">
  <div class="pro_detail">
    <div class="con1">
      <h3><span>项目详情</span></h3>
      <div class="con">
        <div class="num same"><span>订单编号</span>
          <p class="w-fr"><i class="span">{$model['no']}</i><span class="copy" data-clipboard-text="" id="copy">复制</span></p>
        </div>
        <div class="introduce clearfix same textarea"><span>项目介绍</span>
          <p>
            {$model['intro']}
          </p>
        </div>
        <div class="pos same"> {:substr($model['province'],7).substr($model['city'],7).$model['address']} <span class="icon"></span></div>
        <!--<div class="time same"><span>施工完成时间</span> <i class="span">2018.09.20</i></div>-->
        <div class="people same"><span>项目人数</span> <i class="span">{$model['number']}</i></div>
        {if condition="$show_users"}
        <div class="linkman same">
          <span>项目联系人</span>
          <i class="span">{$show_users['user_name']?$show_users['user_name']:$show_users['nickname']} <a href="tel:{$show_users['cellphone']}">{$show_users['cellphone']}</a>
          </i>
        </div>
        {/if}
      </div>
    </div>
    <div class="con2">
      <h3><span>备注信息</span></h3>
      <div class="con">
        <div contenteditable="false" class="textarea">{$model['remark']}</div>
      </div>
    </div>
    <div class="con3">
      <span>{$model['gold']}</span>
      <div id="file">
        {if($user_model['type']=='staff')}
        <a href="{:url('auth',['id'=>$model['id']])}">上传审核信息</a>
        {else/}
        <a href="{:url('send',['id'=>$model['id']])}">派单</a>
        {/if}
      </div>
    </div>
  </div>
</div>
{/block}

{block name="script"}
<script>
    $(function () {
        // 复制
        var content = $(".num .span").text();
        $("#copy").attr("data-clipboard-text", content);
        var clipboard = new ClipboardJS('#copy');

        clipboard.on('success', function (e) {
            console.log(e);
            alert("复制成功")
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    });
    // window.onload=function(){
    //     var member = 1;//0为城市经理，1为项目经理，2为工人。
    //     // var status=1;//订单完成状态，1为已完成
    //     if(member == 0){
    //         $("#file").append("<a href=\"{:url('citySend')}\">派单</a>")
    //     }else if(member == 1){
    //         $("#file").append("<a href=\"{:url('proSend')}\">派单</a>")
    //     }else if(member == 2){
    //         $("#file").append("<a href=\"{:url('auth')}\">上传审核信息</a>")
    //     }
    //     if(status==1){
    //         $("#file").html("<div>施工完成</div>")
    //     }
    // }
</script>
{/block}