{extend name="base" /}

<!--导航栏-->
{block name="slider_bar"}users-auth{/block}
<!--面包屑-->
{block name="breadcrumb"}
<i class="ace-icon fa fa-home fa-users"></i>
<li>用户管理</li>
<li>用户审核列表</li>
{/block}

{block name="title"}用户审核列表{/block}

{block name="content"}
		<!-- div.table-responsive -->

		<!-- div.dataTables_borderWrap -->
		<div class="dataTables_wrapper form-inline no-footer">
			<div class="row">
				<div class="col-xs-6">

				</div>
				<div class="col-xs-5 text-right">
					<form class="form-search">
							<span class="input-icon align-middle">
								<i class="ace-icon fa fa-search"></i>
								<input type="text" class="search-query" name="keyword" value="{$keyword}" placeholder="用户名/手机号">
							</span>
						<button class="btn btn-sm" type="submit">Go!</button>
					</form>
				</div>
				<div class="col-xs-1">

				</div>
			</div>
			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>

						<th width="40">序号</th>
						<th width="120">用户名</th>
						<th width="120">用户类型</th>
						<th width="120">手机号码</th>
						<th width="120">申请理由</th>
						<th width="120">申请时间</th>
						<th width="120">状态</th>
						<th width="120">处理时间</th>
						<th width="120">处理理由</th>
						<th width="200">操作</th>
					</tr>
				</thead>

				<tbody>
					{volist name="list" id="vo"}
						<tr>
							<td>{$i}</td>
							<td><a href="{:url('Users/userDetail',array('id'=>$vo['id']))}">{$vo['user_name']?$vo['user_name']:$vo['nickname']}</a></td>
							<td>{$vo['user_type']['name']}</td>
							<td>{$vo['cellphone']}</td>
							<td>{$vo['link_user_req']['req_reason']}</td>
							<td>{$vo['link_user_req']['last_time']}</td>
							<td>{$vo['link_user_req']::$fields_status[$vo['link_user_req']['status']]}</td>
							<td>{$vo['link_user_req']['handle_time']}</td>
							<td>{$vo['link_user_req']['handle_reason']}</td>
							<td>
								{empty  name="$vo['link_user_req']['status']"}
								<a href="#" class="handle-auth" data-id="{$vo['link_user_req']['id']}">审核</a>
								{/empty}
							</td>
						</tr>
					{/volist}
				</tbody>
				</table>
		</div>
{$list|raw}
<table class="table table-striped table-bordered table-hover" id="handle-auth" style="display: none">
	<form action="{:url('authAction')}" id="auth-form">
		<input type="hidden" name="id" value=""/>
		<tbody>
		<tr>
			<td width="80">原因</td>
			<td><textarea name="handle_reason"></textarea></td>
		</tr>
		<tr>
			<td>处理状态</td>
			<td>
				<label>
					<input name="status" type="radio" class="ace" value="1" checked>
					<span class="lbl"> 通过</span>
				</label>
				<label>
					<input name="status" type="radio" class="ace" value="2">
					<span class="lbl"> 拒绝</span>
				</label>
			</td>
		</tr>
		</tbody>
	</form>
</table>
{/block}

{block name="script"}
<script>
	$(function(){
	    $(".handle-auth").click(function(){
            $('#handle-auth').find("input[name='id']").val($(this).data('id'))
            layer.open({
                type:1
				,title:'用户审核'
                ,content: $('#handle-auth')
				,btn:['确定','取消']
				,area:['400px','250px']
                ,yes:function(index, layero){
                    $.post($("#auth-form").attr('action'),$("#auth-form").serialize(),function(result){
                        layer.msg(result.msg)
						if(result.code) {
                            setTimeout(function(){window.location.reload()},1000);
						}
					})
                }
            })
		})

	})
</script>
{/block}